{% extends 'base.html' %} {% block content %}
<div class="row text-center">
  <div class="column">
    <h1>Welcome to KGram</h1>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-4 mx-auto col-10">
    <form
      class="form"
      id="post-create-form"
      method="POST"
      action="/create-post"
    >
      {% csrf_token %}
      <div class="d-none alert alert-danger" id="post-create-form-error"></div>
      <input type="hidden" value="/" name="next" />
      <textarea
        required="required"
        class="form-control"
        id="content"
        name="content"
        placeholder="What do you have?"
      ></textarea>
      <button type="submit" class="btn btn-primary">Post</button>
    </form>
  </div>
</div>

<div class="row" id="posts">Loading...</div>

<script>
  function handlePostFormError(msg, display) {
    var myErrorDiv = document.getElementById("post-create-form-error");
    if (display) {
      //show error
      myErrorDiv.setAttribute("class", "d-block alert alert-danger");
      myErrorDiv.innerText = msg;
    } else {
      //no error
      myErrorDiv.setAttribute("class", "d-none alert alert-danger");
    }
  }

  function handlePostCreateFormDidSubmit(event) {
    event.preventDefault();
    const myForm = event.target;
    const myFormData = new FormData(myForm);
    console.log(myFormData);
    const url = myForm.getAttribute("action");
    const method = myForm.getAttribute("method");
    const xhr = new XMLHttpRequest();
    xhr.open(method, url);
    xhr.setRequestHeader("X-REQUESTED-WITH", "XMLHttpRequest");
    xhr.onload = function () {
      if (xhr.status === 201 || xhr.status == 200) {
        handlePostFormError("", false);
        const newPost = xhr.response;
        const newPostJson = JSON.parse(newPost);
        console.log(newPost);
        const newPostElement = formatPostElement(newPostJson);
        console.log(newPostElement);
        const ogHtml = postsContainerElement.innerHTML;
        postsContainerElement.innerHTML = newPostElement + ogHtml;
        document.getElementById("content").value = "";
      } else if (xhr.status === 500) {
        alert("There was a server error. Plejjjase try again");
      } else if (xhr.status === 400) {
        const errorJson = xhr.response;
        console.log(xhr.responseText);
        console.log({ errorJson });
        const contentError = JSON.parse(errorJson).content;
        let contentErrorMsg;
        if (contentError) {
          contentErrorMsg = contentError[0];
          if (contentErrorMsg) {
            handlePostFormError(contentErrorMsg, true);
          } else {
            alert("An error occured 1");
          }
        } else {
          alert("An error occured is 2");
        }
      } else if (xhr.status === 401) {
        alert("you must login");
        window.location.href = "/login";
      } else if (xhr.status === 403) {
        alert("you must login");
        window.location.href = "/login";
      }
    };

    xhr.onerror = function () {
      alert("An error occured please try again");
    };

    xhr.send(myFormData);
  }

  const postCreateForm = document.getElementById("post-create-form");

  postCreateForm.addEventListener("submit", handlePostCreateFormDidSubmit);

  const postsContainerElement = document.getElementById("posts"); //get an html elements

  function loadPosts(postsElement) {
    const xhr = new XMLHttpRequest();
    const method = "GET";
    const url = "posts";
    const responseType = "json";
    xhr.responseType = responseType;
    xhr.open(method, url);
    xhr.onload = function () {
      const serverResponse = xhr.response;
      const listedItems = serverResponse; //array
      var finalPostStr = "";
      var i;
      for (i = 0; i < listedItems.length; i++) {
        var postObj = listedItems[i];
        var currentItem = formatPostElement(postObj);
        finalPostStr += currentItem;
      }
      postsElement.innerHTML = finalPostStr;
      //console.log(listedItems)
      // console.log(serverResponse)
    };
    xhr.send();
  }

  loadPosts(postsContainerElement);

  function handleDidLike(post_id, currentCount) {
    console.log(post_id, currentCount);
  }
  function likeBtn(post) {
    return (
      "<button class ='btn btn-primary btn-sm' onclick =handleDidLike(" +
      post.id +
      "," +
      post.likes +
      ")>" +
      post.likes +
      "Like </button>"
    );
  }
  function formatPostElement(post) {
    var formattedPost =
      "<div class='col-12 col-md-10 mx-auto border rounded py-3 mb-4 post' id ='post-" +
      post.id +
      "'><p>" +
      post.content +
      "</p><div class='btn-group'>" +
      likeBtn(post) +
      "</div></div>";

    return formattedPost;
  }
</script>
{% endblock content %}
